﻿@model IEnumerable<JoaoSite.Models.Anuncio>

@{
    ViewData["Title"] = "RelatorioPedidos";
}

<h1>RelatorioPedidos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Modelo
            </th>
            <th>
                Valor líquido
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloId)
            </td>
            <td>
                @(@Convert.ToDecimal(@item.ValorVenda) - @Convert.ToDecimal(@item.ValorCompra))
            </td>
        </tr>
}
    </tbody>
</table>
