﻿@model IEnumerable<JoaoSite.Models.Estoque>

@{
    ViewData["Title"] = "Estoque";
}

<h1>Ajuste de estoque</h1>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create","Estoque")'">Criar Novo</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Modelo
            </th>
            <th>
                Quantidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
