﻿@model IEnumerable<JoaoSite.Models.Anuncio>

@{
    ViewData["Title"] = "Anuncios";
}

<h1>Anúncios</h1>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create","Anuncio")'">Criar Novo</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Modelo
            </th>
            <th>
                Valor de compra
            </th>
            <th>
                Valor de venda
            </th>
            <th>
                Cor
            </th>
            <th>
                Combustível
            </th>
            <th>
                Data da venda
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeloId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combustivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
   
        @using (Html.BeginForm("RelatorioPedidos", "Relatorio", FormMethod.Post))
        {
            <tr>
                <td>
                    Data Inicial: <input type="date" name="dataInicial" id="dataInicial" />
                </td>
                <td>
                    Data Final: <input type="date" name="dataFinal" id="dataFinal" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success">Gerar PDF</button>
                </td>
            </tr>
        }
    </tbody>
</table>
