﻿@model IEnumerable<JoaoSite.Models.Modelo>

@{
    ViewData["Title"] = "Modelos Cadastrados";
}

    <h1>Modelos Cadastrados</h1>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create","Modelo")'">Criar Novo</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Ano de lançamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLancamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
